<ion-view view-title="Account" class="bar-positive">
  <ion-content>
    <div class="card" align="center">
      <br>
      <strong>Username</strong>
      <br>
      Mailbox
      <br><br>
      <strong>Taters Tossed</strong>
      <br>
      1337
      <br><br>
      <strong>Current Points</strong>
      <br>
      510
      <br><br>
      <strong>Total Points Earned</strong>
      <br>
      1350
      <br><br>
      <strong>Total Points Lost</strong>
      <br>
      840
      <br><br>
    </div>
  </ion-content>
</ion-view>
