<ion-view view-title="Inventoy" class="bar-positive">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Launchers" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt">
      <ion-view>
        <ion-content class="padding has-header">
          <p align="center">Currently Equipped:</p>
          <div class="card" align="center">
            <img src="img/launchers/Homemade_Potato_Cannon.jpg" width="50%" height="50%">
            <h2>Homemade Potato Cannon</h2>
          </div>
          <div class="row">
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Taters" icon-off="ion-flame" icon-on="ion-fireball">
      <ion-view>
        <ion-content class="padding has-header">
          <p align="center">Currently Equipped:</p>
          <div class="card" align="center">
            <img src="img/potatos/reg_potato.jpg" width="110" height="82.4">
            <h2>Regular Potato</h2>
          </div>
          <div class="row">
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Profile Swag" icon-off="ion-happy-outline" icon-on="ion-happy">
      <ion-view>
        <ion-content class="padding has-header">
          <p align="center">Currently Equipped:</p>
          <div class="card" align="center">
            <img src="img/potatos/reg_potato.jpg" width="110" height="82.4">
            <h2>Regular Potato Profile Pic</h2>
          </div>
          <div class="row">
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
            <div class="col col-33"><div class="card">DERP</div></div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
