<ion-view view-title="Settings">
  <ion-content class="padding has-header">

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Notifications
        </div>
        <select>
          <option>Enabled</option>
          <option selected>Disabled</option>
        </select>
      </label>

    </div>

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Sound
      </div>
      <select>
        <option>Enabled</option>
        <option selected>Disabled</option>
      </select>
    </label>

  </div>

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        GPS Update Frequency
      </div>
      <select>
        <option>15 Mins</option>
        <option selected>30 Mins</option>
        <option>60 Mins</option>
      </select>
    </label>

  </div>
  </ion-content>
</ion-view>
