<ion-view view-title="Spud Shop" class="bar-positive">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Launchers" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt">
      <ion-view>
        <ion-content class="has-header padding">

          <div class="card" ng-repeat="launcher in launchers">
            <img src ={{launcher.image}} height=30% width=30%>
            {{launcher.name}}
            <br>
            {{launcher.description}}
          </div>

        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Taters" icon-off="ion-flame" icon-on="ion-fireball">
      <ion-view>
        <ion-content class="has-header padding">

          <div class="card" ng-repeat="potato in potatos">
            <img src ={{potato.image}} height=15% width=15%>
            <h3>{{potato.name}}</h3>
            <br>
            {{potato.description}}
          </div>

        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Profile Swag" icon-off="ion-happy-outline" icon-on="ion-happy">
      <ion-view>

        <ion-content class="has-header padding">
          <h1>SHOP FO' SWAG YO</h1>

            <div class="row">
              <div class="col col-33"><div class="card">DERP</div></div>
              <div class="col col-33"><div class="card">DERP</div></div>
              <div class="col col-33"><div class="card">DERP</div></div>
            </div>

        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
