<ion-view view-title="Spud Shop" class="bar-positive">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Launchers" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt">
      <ion-view>
        <ion-content class="has-header padding">

          <h1>SHOP FOR SPUDS YO</h1>

              <div class="col col-33">DERP</div>
              <div class="col col-33">DERP</div>
              <div class="col col-33">DERP</div>



        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Taters" icon-off="ion-flame" icon-on="ion-fireball">
      <ion-view>
        <ion-content class="has-header padding">

          <h1>SHOP FOR TATERS YO</h1>
          random text
          <br>
          <br>better friggin work

        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Profile Swag" icon-off="ion-happy-outline" icon-on="ion-happy">
      <ion-view>

        <ion-content class="has-header padding">
          <h1>SHOP FOR SWAG YO</h1>
          random text
          <br>
          <br>better friggin work

        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
