<ion-view view-title="TaterTag!" class="bar-positive">
  <ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="TaterTag!" icon-off="ion-ios-game-controller-a-outline" icon-on="ion-ios-game-controller-a">

      <ion-content class="has-header padding">

        <h3 align="center">Choose who to tag</h3>

        <div class="row">
          <div class="col col-20 col-center" align="center+"><img src="img/potatos/reg_potato.jpg" height="41.2" width="55"></div>
          <div class="col">
            <div class="card" align="center"> <h4>Oprah</h4>5 Miles away</div>
          </div>
        </div>
      </ion-content>

    </ion-tab>

    <ion-tab title="Tag History" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag">
      <ion-view view-title="History" class="bar-positive">
        <ion-content class="has-tabs has-header padding">

          <div class="card" align="center">
            <h3>Kirby</h3>
            <p align="center">Hit you with a regular potato from his homemade poatato cannon<br>Lost: 50 points</p>
            <p><img src="img/potatos/reg_potato.jpg" width="55" height="41.2"><img src="img/launchers/Homemade_Potato_Cannon.jpg" width="105.56" height="41.2"></p>
          </div>

        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
